*.pyc
screenshots/*.png
saves/*/*.json
saves/*/rooms/*.json
saves/*/roompngs/*.png
saves/*/mapImage.png
output.txt
.coverage
tests/stats/*.json
cov.xml
tests/*/*.json
# Java specific
*.class
*.jar
*.war
*.ear
.mtj.tmp/
hs_err_pid*

# Maven
server/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Database files
data/
*.mv.db
*.trace.db
server/scripts/backup/*.sql
server/scripts/backup/*.sql.gz
